/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

/* ヘッダー */
header {
  background-color: #1C3667;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 20px;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 1.8px;
}

.question-button { 
  height: 32px;
  width: 80px;
  border-radius: 5px;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  color: #3A3736;
  padding: 5px 7px;
}

/* 質問一覧画面 */
main {
  height: calc(100vh - 65px);
  background-color: #F2F2F3;
  padding: 90px 0;
}

.post-wrapper {
  width: 700px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  height:100px;
}

.comment-content {
  background-color: #1C3667;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
  width: 70px;
  padding-top: 20px;
}

.comment-counter {
  font-size: 26px;
  text-align: center;
  line-height: 38px;
}

.comments {
  font-size: 11px;
  text-align: center;
  line-height: 16px;
}

.post-content {
  padding: 10px 15px;
}

.post-header {
  display: flex;
}

.post-title {
  width: 500px;
  font-size: 14px;
}

.post-user, .post-text {
  font-size: 12px;
}

/* 質問投稿画面 */
.question-header {
  width: 700px;
  margin: 0 auto;
  height: 45px;
  background-color: #1C3667;
  border-radius: 5px 5px 0px 0px;
}

.question-wrapper {
  width: 700px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 40px 90px;
  border-radius: 0px 0px 5px 5px;
}

.question-box {
  text-align: center;
}

.question_title {
  width: 520px;
  height: 30px;
  margin-bottom: 15px;
}

.question_text {
  width: 520px;
  height: 120px;
  margin-bottom: 15px;
}

.question_user {
  width: 520px;
  height: 30px;
  margin-bottom: 20px;
}

.question_button {
  width: 520px;
  height: 36px;
  margin-bottom: 15px;
  background-color: #1C3667;
  font-size: 18px;
  color: #FFFFFF;
  border-style: none;
}